@use '../../styles/variables' as *;

// Estilos para el héroe
.hero {
    background-color: $primary-dark;
    color: $white;
    padding: 4rem 2rem;
}

// Contenido del héroe
.hero-content {
    display: flex;
    flex-direction: column;
}

// Estilos para h1
.hero-content h1 {
    font-size: 3rem;
    font-weight: lighter;
}

// Estilos para h2
.hero-content h2 {
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0;
}

// Estilos para el botón CTA
.cta-button {
    font-family: $font-roboto;
    margin-top: 3rem;
    background-color: $primary-blue;
    color: $white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #557D97;
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}

// Media query para pantallas pequeñas
@media (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}