// src/styles/_variables.scss
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-dark: #0C1726;
$primary-blue: #3C5973;
$accent-color: #8C8377;
$white: #FFFFFF;
$font-roboto: 'Roboto', sans-serif;
// #557D97