@use '../../styles/variables' as *;

.cardslider {
    height: 40rem;
    padding: 4rem;
}

.card-content {
    height: 30rem;
    background-color: #3C5973;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    img {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
    }

    h3 {
        font-size: 1.5rem;
        color: $primary-dark;
    }

    p {
        color: $accent-color;
    }
}